.forecastCard {
width: 15%;
  margin: 20px;
  border: 3px solid black;
  border-radius: 10px;
}
.forecastContainer {
  display: flex;
}
/* .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
    }
    
    .headline {
        text-align: center;
        color: brown;
    } */
